In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv("./belekYorumIdleri.csv")
df.head()

                                        yorumIDs
0  /ShowUserReviews-g312725-d23353863-r799703257
1  /ShowUserReviews-g312725-d23353863-r800130213
2  /ShowUserReviews-g312725-d23353863-r799535066
3  /ShowUserReviews-g312725-d23353863-r799941860
4  /ShowUserReviews-g312725-d23353863-r799326009

In [3]:
df.shape

(3755, 1)

In [4]:
df.drop(labels=list(df[df.yorumIDs == 'yorumIDs'].index), inplace=True)
df.shape

(3700, 1)

In [5]:
df.drop_duplicates(inplace=True)
df.shape

(3700, 1)

### Ka≈ü

In [6]:
kas = pd.read_csv("./kasYorumIdleri.csv")
kas.head()

                                        yorumIDs
0  /ShowUserReviews-g297965-d23431722-r801454443
1  /ShowUserReviews-g297965-d23431722-r795114750
2  /ShowUserReviews-g297965-d23431722-r792062244
3  /ShowUserReviews-g297965-d23431722-r800253288
4  /ShowUserReviews-g297965-d23431722-r791850078

In [7]:
kas.shape

(7589, 1)

In [8]:
kas.drop(labels=list(kas[kas.yorumIDs == 'yorumIDs'].index), inplace=True)
kas.shape

(7422, 1)

In [9]:
kas.drop_duplicates(inplace=True)
kas.shape

(7280, 1)

In [10]:
kas[:10]

                                        yorumIDs
0  /ShowUserReviews-g297965-d23431722-r801454443
1  /ShowUserReviews-g297965-d23431722-r795114750
2  /ShowUserReviews-g297965-d23431722-r792062244
3  /ShowUserReviews-g297965-d23431722-r800253288
4  /ShowUserReviews-g297965-d23431722-r791850078
5  /ShowUserReviews-g297965-d23431722-r795842513
6  /ShowUserReviews-g297965-d23431722-r796959999
7  /ShowUserReviews-g297965-d23431722-r792809666
8  /ShowUserReviews-g297965-d23431722-r796965262
9  /ShowUserReviews-g297965-d23431722-r798040169